html,
body {
  height: 100%;
}

.page-container {
  min-height: 100%;
  margin-top: 70px;
}

.content-container {
  padding-top: 70px;
}

.footer-fix {
  height: 100px;
}

.footer {
  margin-top: -60px;
  border-top: 1px solid #ddd;
  height: 59px;
  line-height: 59px;
  box-sizing: border-box;
  p {
    margin: 0;
  }
}

#game-area {
  width: 100%;
  max-width: 640px;
  max-height: 480px;
  background-color: #000;
  border: none;
}

.navbar {
  .btn {
    line-height: 20px;
    padding: 15px;
    border: none;
    &:hover {
      text-decoration: none;
    }
  }
}

#timeline {
  z-index: 1;
  user-select: none;
  th {
    text-align: center;
    width: 4%;
    cursor: default;
    border-right-color: transparent;
    &.even {
      border-right-color: #ddd;
    }
  }
  td {
    text-align: center;
    vertical-align: middle;
    padding: 0;
    font-size: 0.8em;
    cursor: pointer;
    border-right-color: transparent;
    &:hover {
      background: #eeeeee;
    }
    &.even {
      border-right-color: #ddd;
    }
    &.selected {
      background: #6495ED;
      color: #FFFFFF;
    }
  }
}

#nowline {
  z-index: 0;
  position: absolute;
  width: 2px;
  background: #f00;
}