.navbar-brand {
  > img {
    display: inline-block;
  }
}

#timeline {
  z-index: 1;
  user-select: none;
  th {
    text-align: center;
    width: 4%;
    cursor: default;
    border-color: #333;
    border-right-color: transparent;
    &.even {
      border-right-color: #333;
    }
  }
  td {
    background: #000;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    border-color: #333;
    border-right-color: #222;
    cursor: default;
    i {
      width: 14px;
    }
    &.free {
      background: #001F00;
    }
    &.free:not(.me):hover {
      background: #333;
      cursor: pointer;
    }
    &.even {
      border-right-color: #333;
    }
    &.selected {
      background: green;
      color: #FFFFFF;
    }
    &.busy {
      background: #310A00;
      color: #000;
    }
    &.me {
      background: #0275d8;
      color: #000;
    }
  }
}

.tooltip-inner {
  background-color: #333;
}
.tooltip.tooltip-top .tooltip-arrow,
.tooltip.bs-tether-element-attached-bottom .tooltip-arrow {
  border-top-color: #333;
}